.navigations {
    width: 70%;
}

.btn-circle {
    width: 30 px;
    height: 30 px;
    border-radius: 50%;
}

.input-wrapper {
    background-color: transparent;
    box-sizing: border-box;
    height: 40px;
}

.input {
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #CCC;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input:focus {
    outline: none;
    border-color: #FED143;
    width: 400px;
}

.cart {
    border: none;
    background-color: transparent;
}

.cart:focus {
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid #FED143;
}